<ion-fab vertical="bottom" horizontal="end">
    <!--  <ion-badge color="danger">0 updates</ion-badge> -->
    <ion-fab-button color="coffeelight">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
        <ion-fab-button data-desc="About Ukanda" color="coffeelight">
            <ion-icon name="add-sharp" color="light"></ion-icon>
        </ion-fab-button>
        <ion-fab-button data-desc="Share App" color="coffeelight">
            <ion-icon name="share-social-sharp" color="light"></ion-icon>
        </ion-fab-button>
        <ion-fab-button data-desc="Ukanda Website" color="coffeelight">
            <ion-icon name="globe" color="light"></ion-icon>
        </ion-fab-button>
        <ion-fab-button data-desc="Call support" color="coffeelight">
            <ion-icon name="call-outline" color="light"></ion-icon>
        </ion-fab-button>

    </ion-fab-list>
</ion-fab>