<ion-header>
    <ion-toolbar color="coffeedark">

        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title>Payment</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="track">
        <div class="step active"> <span class="icon"> <i class="fa fa-cart-plus"></i> </span> <span class="text">Order
  </span> </div>
        <div class="step active"> <span class="icon"> <i class="fa fa-check-square"></i> </span> <span class="text"> Review</span>
        </div>
        <div class="step active"> <span class="icon"> <i class="fa fa-calendar-check" aria-hidden="true"></i> </span> <span class="text"> Payment</span> </div>
        <div class="step"> <span class="icon"> <i class="fa fa-plane"></i> </span> <span class="text">Shipping</span> </div>
    </div>


</ion-content>